ion-header {
  background: #c6c6c6;
  --background: #c6c6c6;
  ion-toolbar {
    background: #c6c6c6;
    --background: #c6c6c6;
  }
}



.color_config {
  --color: black !important;
  --background:  greenyellow !important;
}
