<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons [collapse]="true" slot="start">
      <ion-button fill="clear" shape="round" routerLink="/cronome">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      Castigos
    </ion-title>
    <ion-buttons [collapse]="true" slot="end">
      <ion-button fill="clear" shape="round" routerLink="/cronome">
        <img alt="castigo" width="55px" height="auto" src="../../../assets/icon/castigo.png" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-list>
    <ion-item>
      <ion-input [value]="njcastigo" [(ngModel)]="njcastigo" label="Jugador comete castigo" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-select [(ngModel)]="idcastigo" [value]="idcastigo" label="Castigo cometido">
        <ion-select-option *ngFor="let castigo of castigos" [value]="castigo.id">{{castigo.castigo}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-grid>
    <ion-row>
      <ion-col></ion-col>
      <ion-col>
        <ion-button expand="block" (click)="guardaCastigo()">{{accionGuardar}}</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-header>

<ion-content [fullscreen]="true">

  <ion-fab routerLink="/cronome" class="btnBack">
    <ion-fab-button>
      <ion-icon name="close-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
