<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons [collapse]="true" slot="start">
      <ion-button fill="clear" shape="round" routerLink="/cronome">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      Castigos
    </ion-title>
    <ion-buttons [collapse]="true" slot="end">
      <ion-button fill="clear" shape="round" routerLink="/cronome">
        <img alt="castigo" width="55px" height="auto" src="../../../assets/icon/castigo.png" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-segment [value]="equipo" [(ngModel)]="equipo" mode="ios" (ionChange)="fncInfoEquipo()">
    <ion-segment-button value="visitante">
      <img alt="inicio" width="38px" height="auto" src="https://naosports.sanyoma.com/assets/img/naoflag/equipos/{{ logoEquV }}" />
      <ion-label style="font-size:x-small;text-transform:uppercase;">{{nomEquV}}</ion-label><br/>
    </ion-segment-button>
    <ion-segment-button value="local">
      <img alt="inicio" width="38px" height="auto" src="https://naosports.sanyoma.com/assets/img/naoflag/equipos/{{ logoEquL }}" />
      <ion-label style="font-size:x-small;text-transform:uppercase;">{{nomEquL}}</ion-label><br/>
    </ion-segment-button>
  </ion-segment>

  <ion-list>
    <ion-item>
      <ion-input [value]="njcastigo" [(ngModel)]="njcastigo" label="Jugador comete castigo" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-select [(ngModel)]="idcastigo" [value]="idcastigo" label="Castigo cometido">
        <ion-select-option *ngFor="let castigo of castigos" [value]="castigo.id">{{castigo.castigo}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-grid>
    <ion-row>
      <ion-col></ion-col>
      <ion-col>
        <ion-button expand="block" (click)="guardaCastigo()">{{accionGuardar}}</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-header>

<ion-content [fullscreen]="true">

  <ion-fab routerLink="/cronome" class="btnBack">
    <ion-fab-button>
      <ion-icon name="close-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list [inset]="true" *ngFor="let item of listCastigos">
    <ion-item-sliding style="border:thin solid #818181;border-radius:6px;">
      <ion-item [button]="true" (click)="editarCastigo(item)">
        <ion-avatar aria-hidden="true" slot="start">
          <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
        <ion-label>
          <b>#{{ item.njcastigo }}</b> {{ item.equipo }}
          <br/><small>Castigo: {{ item.idcastigo }}</small>
          <br/><small>{{ castigos[item.idcastigo - 1].castigo }}</small>
          <br/><small>{{item.medio}} D{{item.down}} {{item.tiempo}}</small>
        </ion-label>
      </ion-item>
      <ion-item-options slot="end">
        <ion-item-option color="danger" expandable="true"(click)="borraCastigo(item)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>
