<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" shape="round" routerLink="/home">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-right">
      <ion-badge color="warning" style="font-size:x-small;text-transform:uppercase;"> Femenil libre </ion-badge><br/>
      <ion-badge color="success" style="font-size:x-small;"> Campo 2 </ion-badge> / <ion-badge color="success" style="font-size:x-small;"> Jornada 6 </ion-badge>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="btnEstadiFinales" >
    <ion-button expand="block" shape="round" size="small" (click)="estadisticasFinales();">Estadísticas finales</ion-button>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button fill="clear" (click)="goCroconfig()">
      <img alt="Configurar" style="width: 40px;height: auto;padding: 0px !important;" src="../../../assets/icon/config.png" />
    </ion-button>

    <ion-button fill="clear" class="btnTochdown_2" (click)="goTowchdown()">
      <img alt="Towchdown" style="width: 40px;height: auto;padding: 0px !important;" src="../../../assets/icon/anotacion.png" />
    </ion-button>

    <ion-button fill="clear" class="btnCastigo_2" (click)="goCastigos()">
      <img alt="Castigos" style="width: 40px;height: auto;padding: 0px !important;" src="../../../assets/icon/castigo.png" />
    </ion-button>

    <ion-button fill="clear" class="btnIntercepciones_2" (click)="goIntercepciones()">
      <img alt="Intercepciones" style="width: 40px;height: auto;padding: 0px !important;" src="../../../assets/icon/intersepcion.png" />
    </ion-button>

    <ion-button fill="clear" class="btnCaptura_2" (click)="goCaptura()">
      <img alt="Captura" style="width: 40px;height: auto;padding: 0px !important;" src="../../../assets/icon/captura.png" />
    </ion-button>

  </ion-toolbar>
</ion-footer>

