<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar (click)="fncDeviceInfo();">
    <img alt="inicio" src="../../../assets/icon/NaoSport_1.jpeg" />
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item (click)="fncPruebas();">
    <ion-label class="ion-text-center">Juegos del día</ion-label>
  </ion-item>
  <div id="container">
    <!--
    <ion-card (click)="fncCronometroJuego();">
      <ion-card-header>
        <ion-card-subtitle>
          <ion-grid>
            <ion-row>
              <ion-col class="ion-text-left">
                <ion-label><b>El Pocito</b></ion-label>
              </ion-col>
              <ion-col class="ion-text-right">
                <ion-label>
                  <small>15/01/2024</small><br/>
                  <b>21:00</b>
                </ion-label>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col class="ion-text-center">
              <img alt="inicio" src="../../../assets/icon/equipos/raiders.png" />
            </ion-col>
            <ion-col class="ion-text-center" size="8">vs</ion-col>
            <ion-col class="ion-text-center">
              <img alt="inicio" src="../../../assets/icon/equipos/pats.png" />
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col class="ion-text-center">
              <ion-label>Azur</ion-label><br/>
              <ion-label style="font-size:x-small;">(0-0)</ion-label>
            </ion-col>
            <ion-col class="ion-text-center" size="8">
              <ion-badge color="success" style="font-size:medium;">C4 J0</ion-badge>
            </ion-col>
            <ion-col class="ion-text-center">
              <ion-label>Amazonas renegados</ion-label><br/>
              <ion-label style="font-size:x-small;">(0-0)</ion-label>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col class="ion-text-center">
              <ion-badge color="warning"> <small>Varonil 35+</small> </ion-badge>
            </ion-col>
          </ion-row>

        </ion-grid>

      </ion-card-content>
    </ion-card>
    -->

    <ion-card (click)="goCronometro();">
      <ion-card-header>
        <ion-card-subtitle>
          <ion-grid>
            <ion-row>
              <ion-col class="ion-text-left">
                <ion-label><b>El Pocito</b></ion-label>
              </ion-col>
              <ion-col class="ion-text-right">
                <ion-label>
                  <small>15/01/2024</small><br/>
                  <b>21:00</b>
                </ion-label>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col class="ion-text-center">
              <img alt="inicio" src="../../../assets/icon/equipos/raiders.png" />
            </ion-col>
            <ion-col class="ion-text-center" size="8">vs</ion-col>
            <ion-col class="ion-text-center">
              <img alt="inicio" src="../../../assets/icon/equipos/pats.png" />
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col class="ion-text-center">
              <ion-label>Azur</ion-label><br/>
              <ion-label style="font-size:x-small;">(0-0)</ion-label>
            </ion-col>
            <ion-col class="ion-text-center" size="8">
              <ion-badge color="success" style="font-size:medium;">C4 J0</ion-badge>
            </ion-col>
            <ion-col class="ion-text-center">
              <ion-label>Amazonas renegados</ion-label><br/>
              <ion-label style="font-size:x-small;">(0-0)</ion-label>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col class="ion-text-center">
              <ion-badge color="warning"> <small>Varonil 35+</small> </ion-badge>
            </ion-col>
          </ion-row>

        </ion-grid>

      </ion-card-content>
    </ion-card>

  </div>


</ion-content>
