<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar (click)="fncDeviceInfo();">
    <img alt="inicio" src="../../../assets/icon/NaoSport_1.jpeg" />
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label class="ion-text-center">Juegos del día</ion-label>
  </ion-item>
  <ion-item (click)="fncPruebas();">
    <!--
    <ion-label [color]="networkStatus?.connected ? 'primary':'dark'" class="ion-text-center">Internet: {{ networkStatus | json }}</ion-label>
    -->
    <ion-label [color]="networkStatus?.connected ? 'primary':'dark'" class="ion-text-center">Internet: {{ networkStatus?.connectionType }}</ion-label>
  </ion-item>
  <div id="container">

    <ion-card (click)="fncCronometroJuego();">
      <ion-card-header>
        <ion-card-subtitle>
          <ion-grid>
            <ion-row>
              <ion-col class="ion-text-left">
                <ion-label><b>El Pocito</b></ion-label>
              </ion-col>
              <ion-col class="ion-text-right">
                <ion-label>
                  <small>16/10/2023</small><br/>
                  <b>20:00</b>
                </ion-label>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col class="ion-text-center">
              <img alt="inicio" src="../../../assets/icon/equipos/pats.png" />
            </ion-col>
            <ion-col class="ion-text-center" size="8">vs</ion-col>
            <ion-col class="ion-text-center">
              <img alt="inicio" src="../../../assets/icon/equipos/raiders.png" />
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col class="ion-text-center">
              <ion-label>Pats</ion-label><br/>
              <ion-label style="font-size:x-small;">(3-2)</ion-label>
            </ion-col>
            <ion-col class="ion-text-center" size="8">
              <ion-badge color="success" style="font-size:medium;">C2 J6</ion-badge>
            </ion-col>
            <ion-col class="ion-text-center">
              <ion-label>Raiders</ion-label><br/>
              <ion-label style="font-size:x-small;">(3-2)</ion-label>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col class="ion-text-center">
              <ion-badge color="warning"> <small>Femenil libre</small> </ion-badge>
            </ion-col>
          </ion-row>

        </ion-grid>

      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
