ion-header {
  background: greenyellow;
  --background: greenyellow;

  ion-toolbar {
    background: greenyellow;
    --background: greenyellow;
  }
  ion-segment {
    background: greenyellow;
    --background: greenyellow;
  }
  ion-list {
    background: greenyellow;
    --background: greenyellow;
    ion-item {
      background: greenyellow;
      --background: greenyellow;
    }
  }
}
.btnBack {
  position: fixed;
  right: 3%;
  box-shadow: 0 0 12px black;
  border-radius: 100%;
  bottom: 30%;
}
