ion-header {
  border-radius: 12px;
  padding-bottom: 10px;

  ion-toolbar {
    background: greenyellow;
    --background: greenyellow;
  }
  ion-segment {
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 0px;
  }
}
.btnBack {
  position: fixed;
  right: 3%;
  box-shadow: 0 0 12px black;
  border-radius: 100%;
  bottom: 30%;
}
